{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": "Server=DESKTOP-SLVVEG9\\SQLEXPRESS;Database=library12;TrustServerCertificate=True;Trusted_Connection=True;",
    "ConnectionToMySql": "server=mysql-1ca59cc6-famahana55-25ef.d.aivencloud.com;port=19460;database=library;user=;password=;"

  },
  "Jwt": {
    "Key": "",
    "Issuer": "Books.Api",
    "Audience": "BookApiClient",
    "ExpiresMinutes": 30
  }
}

